CWD="D:/GitHub/TWMonorepo/TWDataParser/"
NODE_ENV="twdp"
WH3_DATA_PATH="D:/Steam/steamapps/common/Total War WARHAMMER III/data"
WH2_DATA_PATH="D:/Steam/steamapps/common/Total War WARHAMMER II/data"
WH3_WORKSHOP_PATH="D:/Steam/steamapps/workshop/content/1142710"
TWP_DATA_PATH="D:/GitHub/TWPData"
